<div class="roadway_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Roadway Settings</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="flex-container">
                <label class="checkbox_label marginBot5">
                    <input type="checkbox" id="roadway_enabled" />
                    <span>Enable Roadway</span>
                </label>
            </div>
            <div>
                <button class="menu_button test">Test</button>
            </div>
        </div>
    </div>
</div>
