<div class="roadway_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Roadway Settings</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="flex-container">
                <label class="checkbox_label marginBot5">
                    <input type="checkbox" id="roadway_enabled" />
                    <span>Enable Roadway</span>
                </label>
            </div>
            <select
                class="text_pole connection_profile"
                title="Select a Connection Profile"
                data-i18n="[title]Select a Connection Profile"
            ></select>
            <div class="title_restorable">
                <label for="prompt">Prompt</label>
                <button
                    class="menu_button fa-solid fa-undo interactable restore_default"
                    data-i18n="[title]Restore default"
                    title="Restore default"
                ></button>
            </div>

            <textarea class="text_pole textarea_compact prompt" rows="4"></textarea>
        </div>
    </div>
</div>
